{% extends "index.html" %}
{% load bootstrap4 %}

{% block title %} Вход {% endblock %}

{% block content %}

    <h2 align="center"> Вход</h2>
    <div class="container">
        {% if user.is_authenticated %}
            <p> Вы уже выполнили вход </p>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <input type="hidden" name="next" value="{{ next }}">
                {% buttons submit='войти' %} {% endbuttons %}
            </form>

        {% endif %}
    </div>
{% endblock %}