{% extends 'index.html' %}
{% load static %}
{% block title %}

    Профиль :: {{ block.super }}
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>База данных - Cinema</h1>
            <h2 class="about1">Всегда находись в курсе ключевых событий в мире кино.</h2>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h5> Приложение позволяет читать новости и получать информацию о будущих или вышедших
                    кинокартинах. </h5>

            </div>
            <div class="col-md-4">
                <h5> Приложение помогает вести учёт просмотренных фильмов. </h5>

            </div>
            <div class="col-md-4">
                <h5> В пользовательский профиль можно добавлять, просмотренные или ожидаемые фильмы.
                    <p>Зарегистрированные пользователи могут добавлять свои коментарии к фильмам.</p></h5>
            </div>
        </div>
        <hr>
        <br>
        <div class="alert alert-dark text-center" role="alert">
            <h4 class="alert-heading" align="center">Источники информации:</h4>
        </div>
        <br>

        <h4><ul>Информация о фильмах получена по API сайта www.omdbapi.com. </ul></h4>
        <h4><ul>Новости получены по RSS сайта movieweb.com.
            Используя онлайн сервис rss2json.com преобразованы из RSS в JSON. </ul></h4>
    </div>
    <div class="alert alert-dark text-center" role="alert">
        <h4>Приложение не является комерческим, создано в образовательных целях.</h4>
    </div>




{% endblock %}