{% extends 'index.html' %}
{% load static %}
{% block title %}

    Профиль :: {{ block.super }}
{% endblock %}


{% block content %}

    <div class="container">

        <div class="alert alert-dark" role="alert">
            <H2><p>База данных о кино, пользователи которой всегда в курсе ключевых событий индустрии.</p>
                Приложение позволяет читать новости и получать информацию о будущих или вышедших кинокартинах.
                Приложение помогает вести учёт просмотренных фильмов.
                В пользовательском профиле отображаются списки,
                в которые можно добавлять, просмотренные или ожидаемые фильмы,
                а также добавлять свои коментарии к фильмам.
            </H2>
            <hr>
            <div class="alert alert-dark text-center" role="alert">
                <h4 class="alert-heading" align="center">Источники информации:</h4>
            </div>
            <br>

            <h2>Информация о фильмах получена по API сайта www.omdbapi.com. </h2>
            <h2>Новости получены по RSS сайта movieweb.com.
                Используя онлайн сервис rss2json.com преобразованы из RSS в JSON. </h2>

        </div>

        <div class="alert alert-dark text-center" role="alert">
            <h4>Приложение не является комерческим, создано в образовательных целях.</h4>
        </div>

    </div>


{% endblock %}