{% extends 'index.html' %}
    {% load static %}
{% block title %}

Профиль :: {{block.super}}
{% endblock %}


{% block content %}

<div class=" container bs-example">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Имя пользователя</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto <br> fff fff fffffff fffff fffff ffffff </td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


{#        <div class="card bg-light text-dark text-center">#}
{#           <div class="card-body"> <h1> Информация о сайте</h1></div>#}
{#        </div>#}
{##}
{##}
{#    <div class="container">#}
{##}
{#      <div class="jumbotron">#}
{#        <h3 class="text-muted">Каталог фильмов</h3>#}
{#        <h1>NEW MOVIE</h1>#}
{#        <p class="lead about"> Приложение представляет собой базу данных фильмов которые вышли или будут выходить  в прокат в 2021-2022 годах.#}
{#        </p>#}
{#        <p class="lead"> Приобретение навыков при работе с внешними данными полученными по API, RSS#}
{#            (импорт, очистка, загрузка в модель и представление).#}
{#        </p>#}
{##}
{##}
{##}
{##}
{##}
{#      </div>#}
{##}
{#      <div class="row marketing">#}
{##}
{#          <div class="col-lg-12">#}
{#              <h4>Приложение создано на языке програмирования Python. Использованы следующие библиотеки и языки разметки </h4>#}
{#              <li>Django</li>#}
{#              <li> Bootstrap</li>#}
{#              <li>HTML</li>#}
{#              <li>CSS</li>#}
{##}
{#              <h4>Источники данных </h4>#}
{#              <li>Информация о фильмах получена по API сайта www.omdbapi.com</li>#}
{#              <li> Новости получены по RSS сайта movieweb.com</li>#}
{##}
{##}
{#              <h4>в приложении реализован следующий функционал </h4>#}
{#              <li>Поиск фильмов по полю "genre"</li>#}
{#              <li> Поиск фильма по названию в поле "title" </li>#}
{#              <li>Поиск фильмов по полю "released" за указанный пользователем период времени </li>#}
{##}
{#          </div>#}
{##}
{#      </div>#}
{##}
{#    </div>#}

{% endblock %}