{% extends 'index.html' %}

{% block title %}
Профиль :: {{block.super}}
{% endblock %}



{% block content %}

        <div class="card bg-light text-dark text-center">
           <div class="card-body"> <h1>Коментарии</h1></div>
        </div>

 {% for comment in All_comment %}
     {% if comment.comment %}
        <div class="container" style="margin-top:20px">
              <div class="row">
                   <div class="col-sm-12">
                             <div class="card">
                              <div class="row">
                                  <div class="col-md-4">
                                    <img src=" /static/img{{ comment.movie_ref.image.url }}" alt="" height="250" border="12">
                                    </div>

                                  <div class="col-md-8">
                                            <h6 class="card-title"> Название:<span class="title"> {{ comment.movie_ref }}</span>  </h6>
                                            <h6 class="card-title"> Жанр:<span class="title"> {{ comment.movie_ref.genre }}</span>  </h6>
                                            <h6 class="card-title"> Дата выхода на экран:<span class="title"> {{ comment.movie_ref.released }}</span>  </h6>
                                            <h6 class="card-title"> Пользователь:<span class="title"> {{ comment.cart_ref }}</span>  </h6>

                                           <h6 class="card-title font-weight-bold "> Коментарий к фильму :</h6>  <p class="border border-primary"><span class="title"> {{ comment.comment }}</span> </p>
                                           <h6 class="card-title"> Дата коментария:<span class="title"> {{ comment.updated_at }}</span>  </h6>

                                    </div>
                              </div>
                        </div>
                    </div>
      </div>
</div>
        {% endif %}
    {% endfor %}



                    <div class="pagination">
        <span class="step-links">
          {% if All_comment.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; first</a>
            <a href="?page={{ All_comment.previous_page_number }}" class="btn btn-primary">previous</a>
          {% endif %}
            <span class="current">
                Page {{ All_comment.number }} of {{ All_comment.paginator.num_pages }}.
            </span>
          {% if All_comment.has_next %}
            <a href="?page={{ All_comment.next_page_number }} " class="btn btn-primary">next</a>
            <a href="?page={{ All_comment.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
          {% endif %}
          </span>
      </div>

 {% endblock %}