{% extends 'index.html' %}
    {% load static %}
{% block title %}

Профиль :: {{block.super}}
{% endblock %}


{% block content %}

<h1>Мои записи </h1>

Здесь находятся сообщения  пользователя {{ user.get_username }}

    <div class="alert alert-primary" role="alert">
        Добро пожаловать :{{ user.get_username }}
    </div>

    {% for movie in my_movie %}
        <div class="container border border-primary">
        <div class="row ">

                    <div class="col border border-primary">
                <img src=" /static/img{{ movie.movie_ref.image.url }}" alt="" height="250" border="12">

            </div>
            <div class="col">
                {{ movie.id }}
            </div>

            <div class="col">
                {{ movie.cart_ref }}
            </div>

            <div class="col">
                {{ movie.movie_ref }}
            </div>
        </div>
        <a href="{% url 'delete_user_movie' movie.movie_ref_id %}"> <button class="btn btn-info"> DELETE MOVIE FROM PROFILE</button></a>
             <a class="btn btn-primary" href="{% url 'edit_comment' movie.movie_ref_id %}" role="button"> Add comment</a>
</div>



    {% endfor %}





{% endblock %}