{% extends 'index.html' %}

{% block title %}
Профиль :: {{block.super}}
{% endblock %}


{% block content %}

    <div class="card bg-light text-dark text-center">
        <div class="card-body"> <h1>Новости кино movieweb.com</h1></div>
  </div>

     {% for item in news %}
        <div class="container" style="margin-top:20px">
              <div class="row">
                   <div class="col-sm-12">
                             <div class="card">
                              <div class="row">
                                  <div class="col-md-4">
                                      <img src="{{ item.image }}" height="150">
                                    </div>

                                  <div class="col-md-8">
                                            <h4 class="card-title"> Заголовок:<span class="title"> {{ item.title }}</span>  </h4>
                                            <h5 class="card-title"> Дата публикации:<span class="title"> {{ item.pubDate }}</span>  </h5>
                                            <a class="btn btn-secondary" href="{{ item.link }}" role="button">читать новость на сайте movieweb.com</a>

                                  </div>
                              </div>
                        </div>
                    </div>
      </div>
</div>
                     {% endfor %}



    <div class="pagination">
        <span class="step-links">
          {% if news.has_previous %}
            <a href="?page=1" class="btn btn-primary">&laquo; first</a>
            <a href="?page={{ news.previous_page_number }}" class="btn btn-primary">previous</a>
          {% endif %}
            <span class="current">
                Page {{ news.number }} of {{ news.paginator.num_pages }}.
            </span>
          {% if news.has_next %}
            <a href="?page={{ news.next_page_number }} " class="btn btn-primary">next</a>
            <a href="?page={{ news.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
          {% endif %}
          </span>
      </div>

{% endblock %}