{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Главная{% endblock %} - Сайт о кино </title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css"
        href="#">
        {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="container-fluid">
        <header class="mb-4">
            <h1 class="display-1 text-center">База данных фильмов</h1>
        </header>


    <div class=" container-fluid">

        <p class="row">


            <ul class="col nav justify-content-end border">
                <li class="nav-item"><a class="nav-link"
                href="{%  url 'register' %}">Регистрация</a></li>
                {% if user.is_authenticated %}
                    <div class="alert alert-primary" role="alert">
                        Добро пожаловать :{{ user.get_username }}
                    </div>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                    href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Профиль</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'profile' %}">Мои заметки</a>
                        <a class="dropdown-item" href="{% url "logout" %}?next={% url 'home' %}">Выйти</a>
                        <div class="dropdown-divider"></div>
{#                        <a class="dropdown-item" href="{% url "main:profile_delete" %}">Удалить</a>#}
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url "login" %}?next={% url 'profile' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="row">
            <nav class="col-md-auto nav flex-column border">
                <a class="nav-link root"
                href="{% url 'home' %}">Главная</a>
                {% for rubric in rubrics %}
                {% ifchanged rubric.super_rubric.pk %}
                <span class="nav-link root font-weight-bold">
                {{ rubric.super_rubric.name }}</span>
                {% endifchanged %}
                <a class="nav-link" href="#">
                {{ rubric.name }}</a>
                {% endfor %}
                <span class="nav-link root font-weight-bold">
                Заголовок1</span>
                <a class="nav-link" href="#"> Текст1 </a>
                <a class="nav-link" href="#"> Текст2 </a>
                <a class="nav-link" href="#"> Текст3 </a>
                <span class="nav-link root font-weight-bold" >
                Заголовок2 </span>
                <a class="nav-link" href="#"> Текст4 </a>
                <a class="nav-link" href="#"> Текст5 </a>
                <a class="nav-link root" href="#"> О сайте </a>
            </nav>


            <section class="col border py-2">
                {% bootstrap_messages %}
                {% block content %}
                    <p>Главная страница сайта </p>
                    <img src="/static/img/barcelona.jpeg" height="400">

                {% endblock %}
            </section>
        </div>
    </div>











        <footer class="mt-3">
            <p class="text-right font-italic">&copy; сайт</p>
        </footer>
    </body>
</html>